@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700&display=swap");

// COLORS
$color-white: #fafafa;
$color-black: #000;

$color-primary: #484b6a;
$color-primary-light: #e4e5f1;

$color-grey: #9394a5;
$color-grey-light: #d2d3db;

$color-green: #50c878;
$color-orange: #fc6a03;

// FONTS
$font-main: "Noto Sans", sans-serif;
